<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/checkout.css">
    <title>Checkout</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <h1 class="display-1">Checkout!</h1>
    <div id="cart-content">
        <table class="table table-striped">

            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Porsche 911</td>
                <td>$200.000</td>
                <td>
                    <img src="/static/img/car.jpg" class="img-thumbnail" width="150">
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Porsche 911</td>
                <td>$200.000</td>
                <td>
                    <img src="/static/img/car.jpg" class="img-thumbnail" width="150">
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Porsche 911</td>
                <td>$200.000</td>
                <td>
                    <img src="/static/img/car.jpg" class="img-thumbnail" width="150">
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Porsche 911</td>
                <td>$200.000</td>
                <td>
                    <img src="/static/img/car.jpg" class="img-thumbnail" width="150">
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Fill card details
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            <form>
                Card number <input type="text"><br>
                Card expiration date <input type="date"><br>
                CVV <input type="number"><br>
            </form>
          </div>
        </div>
      </div>
    <div id="checkout-container">
        <p>Summary: $800.000</p>
        <button type="button" class="btn btn-success" id="pay-button">Pay Now!</button>
    </div>
</body>
</html>