<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/product-page.css">
    <title>Product name</title>
</head>
<body>
    <div id="product-container">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <h1 class="display-1">Product name</h1>
        <img src="/static/img/car.jpg" class="img-fluid" id="product-photo">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Plan</th>
                <th scope="col">Price</th>
                <th scope="col">Available</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Premium</th>
                <td>200k $</td>
                <td>Yes</td>
                <td><a href="/templates/checkout.html">Buy now!</a></td>
              </tr>
              <tr>
                <th scope="row">VIP</th>
                <td>215k $</td>
                <td>No</td>
                <td>Unavailable</td>
              </tr>
              <tr>
                <th scope="row">SUPER VIP</th>
                <td>225k $</td>
                <td>Yes</td>
                <td><a href="/templates/checkout.html">Buy now!</td>
              </tr>
            </tbody>
          </table>
    </div>
</body>
</html>